# registry=http://nexus.ebsfw.com/repository/npm-group/
registry=https://registry.npm.taobao.org/
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
# http://nexus.ebsfw.com/repository/npm-hosted/ npm/npm@cbs gaoyuanfell@sina.com
# http://nexus.ebsfw.com/#browse/browse:npm-hosted 仓库浏览器
