@import "./home.scss";
@import "./product.scss";
@import "./store.scss";
@import "./about.scss";
@import "./join.scss";

.home_warn {
  height: 335px;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .warn-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header {
  height: 80px;
  padding-left: 67px;
  padding-right: 67px;
  display: flex;
  align-items: center;

  .logo {
    height: 15px;
    width: 140px;
    background-image: url(../assets/img/logo.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
  .menu {
    margin-left: auto;

    span {
      font-size: 13px;
      color: #5e5e5e;
      padding: 0 25px;
      cursor: pointer;
      &.action {
        color: #f8b21a;
        font-weight: bold;
      }
    }
  }
}

.home_footer {
  height: 335px;
  flex-direction: column;
  background: #1d1d1d;
  p:nth-child(1) {
    color: #8a8a8a;
    font-size: 21px;
    line-height: 30px;
  }
  p:nth-child(2) {
    color: #8a8a8a;
    font-size: 17px;
    line-height: 30px;
  }
  p:nth-child(3) {
    margin-top: 20px;
    color: #a3a3a3;
    font-size: 12px;
  }
}
