.store_bg {
  height: 1533px;
  background-image: url(../assets/img/store_3.png);
  background-size: 100% auto;
  position: relative;
  .store-info {
    position: absolute;
    top: 160px;
    left: 130px;
    h1:nth-child(1) {
      color: #ffffff;
      font-size: 62px;
      font-weight: bold;
      line-height: 1;
      margin: 0;
    }
    h1:nth-child(2) {
      color: #ffffff;
      font-size: 62px;
      font-weight: bold;
      line-height: 1;
      margin: 0;
    }
    h1:nth-child(3) {
      color: #ffffff;
      font-size: 50px;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
    }

    li {
      color: #ffffff;
      font-size: 27px;
      font-weight: 400;
    }
  }

  .store_1 {
    width: 628px;
    height: 533px;
    object-fit: fill;
    position: absolute;
    top: 95px;
    right: 67px;
  }
  .store_2{
    width: 1233px;
    height: 668px;
    object-fit: fill;
    position: absolute;
    top: 699px;
    right: 50%;
    transform: translateX(50%);
  }
}
